My workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 0,
              "triggerAtDay": [],
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "476eb4ba-9a66-48a4-98f9-1f7e4c3d1164",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13RCEMLr2u91-dv9xFvDA77DgFIhe-lr_8iCzbe4YOhM/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13RCEMLr2u91-dv9xFvDA77DgFIhe-lr_8iCzbe4YOhM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9267c8e1-dcf0-4395-884e-af9617e2aa56",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ly2bIBRVpXuWtsC",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly business assistant. Write a short, warm email message to {{ $json.NAME }} reminding them about our business and the problem we solve for them. \n\nThey are interested in: {{ $json[\"PRODUCT\"] }}\nTheir last purchase was: {{ $json[\"LAST PURCHASE DATE\"] }}\n\nKeep it under 100 words. Be personal, not salesy. End with a clear call to action.",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "=You are a friendly business assistant. Write a short, warm email message to {{ $json.Name }} reminding them about our business and the problem we solve for them.   They are interested in: {{ $json[\"Product/Service Interested In\"] }} Their last purchase was: {{ $json[\"Last Purchase Date\"] }}  Keep it under 100 words. Be personal, not salesy. End with a clear call to action.\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "4c5cb515-c254-4745-9b3f-15e4ff6221d6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "id": "ad0c6454-a518-4d5d-9ec8-a4ff2107393b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Jq7Ghw35mOV57yEf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.EMAIL }}",
        "subject": "Impruv.au",
        "message": "={{ $('Basic LLM Chain').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "cb5ac6d5-d514-4668-8b9b-58dee36261ca",
      "name": "Send a message",
      "webhookId": "1d78b38c-bbb4-4c1d-a00b-af5f7681af6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "rLHVFqDQP1yEfuTM",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9c18e221-be46-4301-952b-82bd1a1d3280",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "18ce978ff35e3534d6b75e9dec1c4f062f4feed5a5be01685a5e2c62de83050c"
  },
  "nodeGroups": [],
  "id": "vmVPjPUkJghZ9mgS",
  "tags": []
}